/*-----------------standards----------------*/

/*-----------------colors-------------------*/
$white:#ffffff;
$light-green:rgb(0, 183, 255);
$pink:#ff00f5;
$bg:#21212E;
$bg-item:#12121a;
$bg-item-hover:#252535;
$dark-bg:#1c1445;
$light-bg:#29224e;
$purple:#7900ff;
$gradient-purple:linear-gradient(-45deg,#ff00f5,#7900FF);
$gradient-red:linear-gradient(left,#ff00f5,#FF0000);
/*-----------------margins------------------*/
$space-xs:5px;
$space-sm:10px;
$space-sm-md:20px;
$space-md:25px;
$space-md-lg:35px;
$space-lg:50px;

/*-----------------paddings-----------------*/
$pad-xs:5px;
$pad-sm:10px;
$pad-sm-md:20px;
$pad-md:25px;
$pad-md-lg:35px;
$pad-lg:50px;
/*-----------------fonts--------------------*/
$f-roboto:'Roboto', sans-serif; 
$f-archivo:'Archivo Black', sans-serif;
/*-----------------weights------------------*/
$fr-reg:400;
$fr-bold:900;
/*-----------------buttons------------------*/

/*-----------------containers---------------*/

/*-----------------offsets------------------*/
