/*-----------------standards----------------*/

/*-----------------colors-------------------*/

/*-----------------margins------------------*/
$space-xs:5px;
$space-sm:10px;
$space-sm-md:20px;
$space-md:25px;
$space-md-lg:35px;
$space-lg:50px;

/*-----------------paddings-----------------*/
$pad-xs:5px;
$pad-sm:10px;
$pad-sm-md:20px;
$pad-md:25px;
$pad-md-lg:35px;
$pad-lg:50px;
/*-----------------fonts--------------------*/
$f-roboto:'Roboto', sans-serif; 
$f-archivo:'Archivo Black', sans-serif;
/*-----------------weights------------------*/
$fr-reg:400;
$fr-bold:900;
/*-----------------buttons------------------*/

/*-----------------containers---------------*/

/*-----------------offsets------------------*/
