@import './scss/normalize';
@import './scss/variables';
@import './scss/fonts';
@import './scss/mixins';
@import './scss/animations';
@import './scss/global';
.container{
    .header{
        padding: 0px 80px;
        position: relative;
        top:0px;
        left:0px;
        max-width: 100vw;
        height: 100vh;
        @include createFlex('row',space-between,center,null);
        &__circle{
            position: absolute;
            left:-35%;
            top:-75%;
            width:100%;
            height:100vh;
            img{
                width: 100%;
            }
        }
        .nav{
            box-sizing:border-box;
            padding: 10px 80px 0px;
            position:absolute;
            z-index: 10;
            top:0px;
            left:50%;
            width: 100vw;
            transform:translateX(-50%);
            @include createFlex('row',space-between,center,null);
            &__logo{
                width: 20%;
            }
            &__list-wrapper{
                width: 60%;
                @include createFlex('row',center,center,null)
            }
            &__list{
                width: 50%;
                list-style-type: none;
                margin:0px 30px;
                @include createFlex('row',space-between,center,null)
            }
            &__nav-item{
                font-weight: $fr-bold;
                font-size: pxToRem(14);
                margin:0px 20px;
            
            }
            button{
                @include button;
            }
            button:first-of-type{
                @include button-bg;
            }
            button:last-of-type{
                color:rgb(0, 183, 255);
                height: 38px;
                border:2px solid $light-green;
            }


        }
        .hero{
            position: relative;
            top:0px;
            left:0px;
            z-index: 2;
            @include createFlex(row,space-between,center,wrap);
            &__text{
                margin-top:50px;
                width: 50%;
                p{
                    word-spacing:5px;
                    font-weight: $fr-bold;
                }
            }
            &__circle{
                cursor: pointer;
                width: 50%;
                position: relative;
                top:0px;
                left:0px;
                &::before{
                    content: '';
                    width: 182%;
                    height: 182%;
                    position: absolute;
                    left:-31%;
                    top:-36%;
                    background-image: url('../assets/hero-image-circle.png');
                    background-size: 100%;
                    transition: all 300ms ease-in-out;
                    transform-origin:50% 52%;
                }
                img{
                    display: block;
                    margin-left: auto;
                    padding-top: 100px;
                    width: 80%;
                }
            }
            button{
                @include button;
                @include button-bg;
                height: 45px;
                width: 180px;
       
            }
        }
    }
    .feature{
        @include createFlex(row,space-between,flex-start,wrap);
        &__circle{
            position: absolute;
            z-index: 1;
            left:-80%;
            top:50%;
            width:100%;
            height:100vh;
            img{
                width: 100%;
            }
        }
        &__image-item{
            width: 50%;
            img{
                display: block;
                width: 95%;
                margin-left: auto;
                position: relative;
                top:0px;
                left:0px;
                z-index: 2;
            }
        }
        &__text-image{
            box-sizing: border-box;
            padding:5px 10px;
            margin:0px auto;
            position: relative;
            top:-266px;
            left:17px;
            width: 80.3%;
            background-color: rgba(0, 0, 0, 0.671);
            border-bottom-left-radius:5px;
            border-bottom-right-radius:5px;
            i{
                margin-right: 5px;
                font-size: pxToRem(20);
            }
            
        }
        &__text-heading{
            @include createFlex(row,space-between,center,null);
            i{
                color:$purple;            
            }
        }
        &__text-body{
            width: 95%;
            line-height: 1.5;
        }
        &__text-footer{
            text-align: right;
            @include createFlex(row,flex-end,center,null);
            i{
                background-clip: text;
                background: $gradient-purple;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;        
            }
        }
        &__text{
            box-sizing: border-box;
            padding-top: 35px;
            padding-right: 100px;
            width: 50%;
            .event{
                padding:5px 0px 5px 10px;
                width: 100px;
                color:$light-green;
                background-color:$light-bg;
            }
        }
        &__item{
            @include createFlex(row,space-between,center,null);
            font-weight: $fr-bold;
            background-color: $bg-item;
            margin: 15px 0px;
            height:60px;
            padding:0px 0px 0px 20px;
            border-radius: 5px;
            filter:drop-shadow(0px 0px 10px black);
            h2{
                font-size: pxToRem(40);
                color:$purple;
            }
            button{
                @include button;
                height:100%;
                width: 100px;
                background-color: $pink;
                margin: 0px;
                padding:0px;
                height:100%;
            }
            &-day,&-time{
                color:$light-green;
                p{
                        margin: 4px 0px;
                        color:$light-green;
                }
            }
        }
        &__controls{
            float: right;
            width: 70px;
            color:$light-green;
            margin-right: 53px;
            div{
                padding:10px 20px;
                margin: 0px 5px;
                border:1px solid $light-green;
                border-radius: 5px;
                @include createFlex(row,center,center,null);
            }
            @include createFlex(row,space-between,center,null)
        }
    }
    .artist{
        margin-top: -200px;
        &__title{
            text-align: center;
            color:$light-green;
        }
        &__carousel{
            @include createFlex(row,center,center,null);
            list-style-type: none;
            padding:0px;
            margin: 0px;
            &-item{
               margin: 0px 10px;
                width: 28%;
                background-color: $bg-item;
                border-radius: 5px;
                filter: drop-shadow(0px 0px 10px black);
                img{
                    width: 100%;
                }
                &-heading,&-location{
                    i{
                        margin-right: 10px;
                    }
                    @include createFlex(row,space-between,center,null)
                }
                &-heading,&-text{
                    padding:0px 20px;
                }
                &-heading{
                    p{color:$light-green;}
                    i{
                        background-clip: text;
                        background: $gradient-purple;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;        
                    }
                }
                &-line{
                    width: 60%;
                    border-bottom: 2px solid $purple;
                }
                
                                
            }
        }
        &__carousel-controls{
            margin-top: 30px;
            @include createFlex(row,center,center,null);
            .prev,.next{
                padding:10px 20px;
                margin: 0px 5px;
                border:1px solid $light-green;
                border-radius: 5px;
                @include createFlex(row,center,center,null);
                i{
                    color:$light-green;
                }
            }
            .prev{
                margin-right: 50px;
            }
            .next{
                margin-left: 50px;
            }
            .dot{
                margin:0px 10px;
                height: 5px;
                width: 5px;
                background-color: grey;
                border-radius: 100%;
            }
        }
        &__active{
            height: 10px !important;
            width: 10px !important;
            background-color: $light-green !important;
            border-radius: 100% !important; 
            filter: drop-shadow(0px 0px 5px $light-green);
        }
    }
    .subscribe{
        margin-top: 30px;
        padding-bottom: 50px;
        height:100%;
        width: 100%;
        background: $gradient-purple;
        &__form-wrapper{
            box-sizing: border-box;
            padding:50px 80px;
            width: 100%;
            height: 300px;
            background-image: url('../assets/subscribe.png');
            background-size: cover;
        
        }
        &__form{
            box-sizing: border-box;
            padding:0px 70px;
            width: 100%;
            height: 200px;
            background-color: $bg-item;
            box-shadow:0px 0px 5px rgba(255,255,255,0.05)inset;
            @include createFlex(row,space-between,center,wrap);
            &-input{
                width: 60%;
                input{
                    padding-left: 15px;
                    width: 60%;
                    height: 40px;
                    border:0px;
                    outline: none;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                
                button{
                    @include button;
                    @include button-bg;
                    width:25%;
                    height: 42px;
                    margin: 0px;
                    margin-left: -7px;
                    filter: drop-shadow(0px 0px 0px black);
                    background-position: center center;
                    background-size: 200%;
                }
            }
        }
        &__article{
            @include createFlex(row,space-between,flex-start,wrap);
            padding:80px;
           h2,p{
               color: black;
           }
           p{
               line-height: 2;
           }
        }
        &__text{
            width: 60%;
        }
        &__line{
            width: 30%;
            border-bottom:2px solid rgba(0, 0, 0, 0.212);
        }
        &__images{
            width: 30%;
            position: relative;
            top:0px;
            left:0px;
            img:first-of-type{
                width: 80%;
                position: absolute;
                left:-20px;
                top:0px;
                z-index: 2;
            }
            img:last-of-type{
                width: 80%;
                position: absolute;
                left:80px;
                top:70px;
                z-index: 1;
            }

        }
        &__footer{
            box-sizing: border-box;
            padding:0px 80px;
            margin-top: 30px;
            width: 100%;
            @include createFlex(row,space-between,center,wrap);
            &-logo{
               width: 20%;
            }
        }
        &__icons{
            position: relative;
            left:-15%;
            width: 150px;
            
            @include createFlex(row,space-between,center,null);
            img{
                margin:0px 10px;
                width: 100%;
            }
        }
    }
    .artist-inner{
        background-image: url('../assets/about-image.png');
        background-size: cover;
        background-position: center center;
        height: 600px;
        @include createFlex(row,center,center,null);    
        &__carousel-wrapper{
            padding:50px;
            width: 70%;
            background-color: $bg-item;
            position: relative;
            top:0px;
            left:0px;
        }
        &__carousel-heading{
            @include createFlex(row,center,center,null);
            h2{color:$light-green;}
        }
        &__carousel-controls{
            color:$light-green;
            @include createFlex(row,space-between,center,null);
            position:absolute;
            right: 10px;
            top:10px;
            div{
                padding:10px 20px;
                margin: 0px 5px;
                border:1px solid $light-green;
                border-radius: 5px;
                @include createFlex(row,center,center,null);
            }
        }
        &__carousel{
            margin: 0px;
            padding:0px;
            list-style-type: none;
            &-item{
                p{text-align: center;}
            }
        }
        button{
            @include button;
            @include button-bg;
            display: block;
            width: 180px;
            height: 40px;
            border-radius: 8px;
            font-weight: $fr-reg;
            margin:0px auto;
        }
    }
    .party{
        padding:0px 80px;
        &__heading{
            @include createFlex(row,space-between,center,null);
            h2{
                text-transform: uppercase;
                color:$light-green;
            }
        }
        &__images{
            @include createFlex(row,flex-start,center,wrap);
        }
        &__image{
            margin-top: 20px;
            margin-right: 20px;
            overflow:hidden;
            height: 500px;
            img{width: 100%;}
        }
        &__image:nth-of-type(1){
            width: 45%;
            img{
                width: 140%;
            }
        }
        &__image:nth-of-type(2){
            width: 25%;
            img{
                width: 140%;
            }
        }
        &__image:nth-of-type(3){
            width: 25%;
            img{
                width: 140%;
            }
        }
        &__image:nth-of-type(4){
            width: 20%;
            img{
                width: 145%;
            }
        }
        &__image:nth-of-type(5){
            width: 55%;
            img{
                width: 125%;
            }
        }
        &__image:nth-of-type(6){
            width: 20%;
            img{
                width: 110%;
            }
        }
        &__image:nth-of-type(7){
            width: 35%;
            img{
                width: 120%;
            }
        }
        &__image:nth-of-type(8){
            width: 25%;
            img{
                width: 120%;
            }
        }
        &__image:nth-of-type(9){
            width: 35%;
            img{
                width: 135%;
            }
        }
    }
    .contacts{
        position: relative;
        top:0px;
        left:0px;
        margin-top: 120px;
        padding:100px 80px 50px;
        background: $gradient-purple;
        &__image{
            position:absolute;
            right: 20px;
            top:-100px;
            width: 20%;
        }
        h2,p{
            color:black;
        }
        p{
            line-height: 1.5;
            margin-top: 20px;
        }
        button{
            font-weight: $fr-bold;
            display: block;
            padding:10px 40px;
            margin:70px auto 0px;
            border-radius: 5px;
            background: $dark-bg;
            border:0px;
            outline: none;
            filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
        }
    }
    .footer{
        font-family: $f-roboto;
        h3{
            font-size: pxToRem(16);
            color:$light-green;
        }
        p,ul{
            font-size: pxToRem(13);
        }
        p{
            line-height: 1.5;
        }
        padding:40px 80px;
        @include createFlex(row,flex-start,center,wrap);
        &__article{
            @include createFlex(row,flex-start,flex-start,wrap);
        }
        &__icons{
            @include createFlex(row,center,center,null);
        }
        &__icon{
            height: 30px;
            width: 30px;
            @include createFlex(row,center,center,null);
            border:2px solid $light-green;
            border-radius: 100%;
            margin-right: 8px;
            i{
                color:$light-green;
            }
        }
        &__column-1{
            width: 40%;
            img{
                width: 40%;
            }
        }
        &__column-2{
            width: 10%;
         
           
        }
        &__column-3{
            width: 10%;
            margin: 0px;
            padding:0px;
            margin-left: 100px;
            list-style-type: none;
            color:white;
            li{
                margin: 10px 0px;
            }
        }
        &__column-4{
            margin-left: 100px;
            width: 20%;
        }
        &__foot{
            margin-top: 50px;
            margin-left: auto;
            margin-right: 330px;
        }
    }
}
